#contactPage {
    overflow: hidden;
    width: 100%;
    max-width: 63rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5rem;
}

.contactTitle {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.contactDesc {
    font-size: 0.9rem;
    font-weight: 200;
    max-width: 50rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
    border: none;
    border-radius: 0.5rem;
    background: rgb(226, 233, 232);
}

.submitbtn {
    background: rgb(12, 158, 134);
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 3rem;
    margin: 2rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    
}

.link {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 0 0.75rem;
}

@media screen and (max-width:1280px) {

    #contactPage {
        max-width: 60rem;
    }

    .contactDesc {
        font-size: 1.5vw;
        padding: 0.75rem 0.3rem;
    }

    .name, .email, .msg {
        font-size: 1rem;
    }

    .submitbtn {
        padding: 0.9rem 3rem;
        margin: 2rem;
        font-size: 1rem;
    }

}

@media screen and (max-width:840px) {

    #contactPage {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
        padding: 1rem 2rem;
    }

    .contactDesc {
        font-size: 2.5vw;
        padding: 0.75rem 0.2rem;
    }

    .contactTitle {
        font-size: 1.5rem;
    }

    .submitbtn {
        padding: 0.9rem 3rem;
        margin: 2rem;
        font-size: 1rem;
    }

    .name, .email, .msg {
        font-size: 0.9rem;
    }

}

@media screen and (max-width:420px) {

    #contactPage {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
        padding: 1rem 2rem;
    }

    .contactTitle {
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 3rem;
    }
    
    .contactForm {
        align-items: center;
        justify-content: center;
    }

    .contactDesc {
        font-size: 3vw;
        font-weight: 200;
        letter-spacing: 1px;
    }

    .name, .email, .msg {
        font-size: small;
    }
}

@media screen and (max-width:280px) {

    #contactPage {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 1.3rem;
        padding: 1rem 2rem;
    }

    .contactTitle {
        font-size: 1.2rem;
        font-weight: 600;
        padding-top: 2rem;
        margin-bottom: 0.3rem;
    }
    
    .contactForm {
        align-items: center;
        justify-content: center;
    }

    .contactDesc {
        font-size: 3vw;
        font-weight: 200;
        letter-spacing: 1px;
    }

    .name, .email, .msg {
        font-size: 0.6rem;
    }

    .submitbtn {
        padding: 0.7rem 2rem;
        margin: 2rem;
        font-size: 0.7rem;
    }

    .link {
        object-fit: cover;
        height: 1.4rem;
        width: 1.4rem;
        margin: 0 0.5rem;
    }
}